  <div class="navbar navbar-nav-scroll navbar-dark bg-primary">
    <ul class="navbar-nav bd-navbar-nav flex-row">
      <li class="nav-item">
        <a class="nav-link" href="#">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link " href="#">Documentation</a>
      </li>
      <li class="nav-item">
        <a class="nav-link active" href="#" >Examples</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#" >Themes</a>
      </li>

      <li class="nav-item">
        <a class="nav-link" href="#">Expo</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Blog</a>
      </li>
    </ul>
  </div>